page-modal-terminos {
	p{
		text-align: justify;
	}

	.toolbar-background{
		background-color: #212d3b !important;
	}

	.toolbar-title{
		color: white !important;
	}

	.icon{
		color: white !important;
	}

	.content{
		background-color: #f4f4f4;
		color: #333;
	}
}
