<ion-header>
    <ion-toolbar>
        <ion-title> 
            <ion-icon name="square"></ion-icon> Autorizaciones
        </ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="presentPopover($event)">
                <ion-icon ios="md-more" md="md-more"></ion-icon>
            </button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-list>
        <ion-item>
            <ion-label stacked>N&uacute;mero de Orden / Cotización</ion-label>
            <ion-input #input [(ngModel)] = 'noOrden' type="text" class="orden"></ion-input>
        </ion-item>
    </ion-list>

    <button ion-button (click)='ValidaGetGeo();' large [disabled] = "!isenabled" block color='light'>Generar Token</button>

    <div class="legales" (click)='openModal();' >Términos y condiciones</div>
</ion-content>

<div class="dialog-cal" *ngIf="calificacion">
    <div class="dialog-cal-panel">
        <div class="dialog-cal-panel-head">
            <div class="panel-head-title">ESTA OPERACIÓN</div>
            <div class="panel-head-subtitle"> Hoy {{ tiempo }} </div>
        </div>
        <div class="dialog-cal-panel-content">
            <p class="peque">¿Cómo calificas esta operación?</p>

            <form>
              <p class="clasificacion">
                <input id="radio1" [(ngModel)] = 'estrellas' type="radio" name="estrellas" value="5">
                    <label for="radio1"> <ion-icon ios="ios-star" md="md-star"></ion-icon> </label>
                <input id="radio2" [(ngModel)] = 'estrellas' type="radio" name="estrellas" value="4">
                    <label for="radio2"> <ion-icon ios="ios-star" md="md-star"></ion-icon> </label>
                <input id="radio3" [(ngModel)] = 'estrellas' type="radio" name="estrellas" value="3">
                    <label for="radio3"> <ion-icon ios="ios-star" md="md-star"></ion-icon> </label>
                <input id="radio4" [(ngModel)] = 'estrellas' type="radio" name="estrellas" value="2">
                    <label for="radio4"> <ion-icon ios="ios-star" md="md-star"></ion-icon> </label>
                <input id="radio5" [(ngModel)] = 'estrellas' type="radio" name="estrellas" value="1">
                    <label for="radio5"> <ion-icon ios="ios-star" md="md-star"></ion-icon> </label>
              </p>
            </form>

            <textarea class="observaciones" placeholder="Escribe un comentario" [(ngModel)] = 'comentarios'></textarea>

            <div class="salioBien" *ngIf=' estrellas > 0 && estrellas <= 4 '>
                <div class="cal-titulo">¿Qué podemos mejorar?</div>

                <ion-grid>
                    <ion-row>
                        <ion-col col-6 class="center">
                            <div id="ck-1">
                                <label>
                                    <input type="checkbox" [(ngModel)] = 'kpi1' ><span>{{ kpi1_label }}</span>
                                </label>
                            </div>
                        </ion-col>
                        <ion-col col-6 class="center">
                            <div id="ck-2">
                                <label>
                                    <input type="checkbox" [(ngModel)] = 'kpi2' ><span>{{ kpi2_label }}</span>
                                </label>
                            </div>
                        </ion-col>
                    </ion-row>

                    <ion-row>
                        <ion-col col-6 class="center">
                            <div id="ck-3">
                                <label>
                                    <input type="checkbox" [(ngModel)] = 'kpi3' ><span>{{ kpi3_label }}</span>
                                </label>
                            </div>
                        </ion-col>
                        <ion-col col-6 class="center">
                            <div id="ck-4">
                                <label>
                                    <input type="checkbox" [(ngModel)] = 'kpi4' ><span>{{ kpi4_label }}</span>
                                </label>
                            </div>
                        </ion-col>
                    </ion-row>

                    <ion-row>
                        <ion-col col-3 class="center"> &nbsp; </ion-col>

                        <ion-col col-6 class="center">
                            <div id="ck-5">
                                <label>
                                    <input type="checkbox" [(ngModel)] = 'kpi5' ><span>{{ kpi5_label }}</span>
                                </label>
                            </div>
                        </ion-col>

                        <ion-col col-3 class="center"> &nbsp; </ion-col>
                    </ion-row>
                </ion-grid>
            </div>
            <div class="salioMal" *ngIf=' estrellas > 4 '>
                <div class="cal-titulo">¿Qué salio bien?</div>

                <ion-grid>
                    <ion-row>
                        <ion-col col-6 class="center">
                            <div id="ck-1">
                                <label>
                                    <input type="checkbox" [(ngModel)] = 'kpi6' ><span>{{ kpi6_label }}</span>
                                </label>
                            </div>
                        </ion-col>
                        <ion-col col-6 class="center">
                            <div id="ck-2">
                                <label>
                                    <input type="checkbox" [(ngModel)] = 'kpi7' ><span>{{ kpi7_label }}</span>
                                </label>
                            </div>
                        </ion-col>
                    </ion-row>

                    <ion-row>
                        <ion-col col-6 class="center">
                            <div id="ck-3">
                                <label>
                                    <input type="checkbox" [(ngModel)] = 'kpi8' ><span>{{ kpi8_label }}</span>
                                </label>
                            </div>
                        </ion-col>
                        <ion-col col-6 class="center">
                            <div id="ck-4">
                                <label>
                                    <input type="checkbox" [(ngModel)] = 'kpi9' ><span>{{ kpi9_label }}</span>
                                </label>
                            </div>
                        </ion-col>
                    </ion-row>

                    <ion-row>
                        <ion-col col-3 class="center"> &nbsp; </ion-col>

                        <ion-col col-6 class="center">
                            <div id="ck-5">
                                <label>
                                    <input type="checkbox" [(ngModel)] = 'kpi10' ><span>{{ kpi10_label }}</span>
                                </label>
                            </div>
                        </ion-col>

                        <ion-col col-3 class="center"> &nbsp; </ion-col>
                    </ion-row>
                </ion-grid>
            </div>
        </div>
        <div class="dialog-cal-panel-footer">
            <ion-grid>
                <ion-row>
                    <!-- <ion-col col-6>
                        <button ion-button full color="light" (click)='hideCalificacion();' >Cancelar</button>
                    </ion-col> -->
                    <ion-col col-12>
                        <button ion-button full color="light" (click)='GuardarCalificacion();' >ENVIAR CALIFICACIÓN</button>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
    </div>
</div>